.navbar-brand img {
    height: 100px;
}

body {
    margin: auto;
}

#title {
    text-align: center;
}

#Registration {
    width: 300px;
    margin: auto;
    border: 3px solid black;
    background: rgba(200,200,200,0.60);
    padding-left: 20px;
}

.buttonCreate {
    margin-top: 25px;
}

#Foot {
    position: relative;
    text-align: left;
    color: black;
}

#message {
    position: relative;
    text-align: center;
    color: black;
}
.container{
    height: auto;
    width: 100%;
}


/*----------------------------------------------*/

